<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hh.wx.xcx.service.mapper.AppointmentMapper" >
	<insert id="insert" parameterType="com.hh.wx.xcx.model.Appointment">
		insert into appointment (
		id,
		user_id,
		time,
		phone,
		contact,
		app_id,
		status,
		business_type,
		type,
		belong_id,
		update_time,
		create_time)
		values(
		#{id},
		#{userId},
		#{time},
		#{phone},
		#{contact},
		#{appId},
		#{status},
		#{businessType},
		#{type},
		#{belongId},
		now(),
		now())
	</insert>
	
	<select id="getCount" parameterType="com.hh.wx.xcx.model.Appointment" resultType="long">
		select count(1) from appointment 
		where app_id = #{appId}
		<if test="status !=null">
			and status = #{status}
		</if>
		<if test="userId !=null">
			and user_id = #{userId}
		</if>
		
	</select>
	
	<sql id="detail">
		id,
		user_id userId,
		time,
		phone,
		contact,
		app_id appId,
		status,
		business_type businessType,
		type,
		belong_id belongId,
		update_time updateTime,
		create_time createTime 
	</sql>
	<select id="query" resultType="com.hh.wx.xcx.model.Appointment">
		select 
		<include refid="detail"></include>
		from appointment 
		where app_id = #{appointment.appId}
		<if test="appointment.status !=null">
			and status = #{appointment.status}
		</if>
		<if test="appointment.userId !=null">
			and user_id = #{appointment.userId}
		</if>
		
		limit #{skip},#{limit}
		
	</select>
	
	<select id="findById" parameterType="long" resultType="com.hh.wx.xcx.model.Appointment">
		select 
		<include refid="detail"></include>
		from appointment 
		where id = #{id} 
	
	</select>
	
	<delete id="deleteById">
		delete
		from appointment 
		where id = #{id} and user_id = #{userId} and app_id = #{appId}
	</delete>
	
	<update id="cancelAppointmentOrder">
		update appointment set status = 2
		where id = #{id} and user_id = #{userId} and app_id = #{appId}
	
	</update>

</mapper>